Práctica 2/XSD/casasL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="casas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="casa" maxOccurs="1000" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:ID">
                      <xs:pattern value = "c[0-9][0-9][0-9]"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
