Práctica 2/XSD/coleccionablesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coleccionables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="coleccionable" maxOccurs = "unbounded" minOccurs = "0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="tamano"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
            <xs:attribute type="xs:string" name="tipoEsp" maxOccurs = "1"/>
            <xs:attribute type="xs:string" name="estacion" maxOccurs = "1"/>
            <xs:attribute type="xs:string" name="localizacion" maxOccurs = "1">
               <xs:simpleType>
                  <xs:restriction base = "xs:string">
                    <xs:enumeration value = "Cascada"/>
                    <xs:enumeration value = "Estanque"/>
                    <xs:enumeration value = "Mar"/>
                    <xs:enumeration value = "Boca del río"/>
                    <xs:enumeration value = "Aire"/>
                    <xs:enumeration value = "Tierra"/>
                    <xs:enumeration value = "Flor"/>
                    <xs:enumeration value = "Árbol"/>
                    <xs:enumeration value = "Bajo tierra"/>
                  </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:byte" name="rareza" maxOccurs = "1"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>