Práctica 2/XSD/edificiosL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="edificios">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="edificio" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="required" />
                <xs:attribute name="tipo" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="Ayuntamiento" />
                      <xs:enumeration value="Peluqueria" />
                      <xs:enumeration value="Supermercado" />
                      <xs:enumeration value="Museo" />
                      <xs:enumeration value="Aerodromo" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>