Práctica 2/XSD/equipablesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipable">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use ="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:ID">
                      <xs:pattern value = "equi[0-9][0-9]"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:string" name="nombre" use="required"/>
                <xs:attribute type="xs:byte" name="stack" use="optional" default="1"/>
                <xs:attribute type="xs:short" name="precio" use="required"/>
                <xs:attribute name="tipo" use="required"> 
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="Herramienta" />
                      <xs:enumeration value="Ropa" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="lugar_eq" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="Mano" />
                      <xs:enumeration value="Pie" />
                      <xs:enumeration value="Espalda" />
                      <xs:enumeration value="Torso" />
                      <xs:enumeration value="Cabeza" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>