Práctica 2/XSD/materialesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="materiales">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="material" maxOccurs="1000" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:ID">
                      <xs:pattern value = "mat[0-9][0-9][0-9]"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:byte" name="stack" use="required"/>
                <xs:attribute type="xs:short" name="precio" use="required"/>
                <xs:attribute name="tipoEsp" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="Piedra" />
                      <xs:enumeration value="Pepita" />
                      <xs:enumeration value="Madera" />
                      <xs:enumeration value="Madera Dura" />
                      <xs:enumeration value="Madera Blanda" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>