Práctica 2/XSD/materialesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="materiales">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="material">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use = "required"/>
                <xs:attribute type="xs:string" name="tipoEsp">
                  <xs:simpleType>
                  <xs:restriction base = "xs:string">
                    <xs:enumeration value = "Piedra"/>
                    <xs:enumeration value = "Pepita"/>
                    <xs:enumeration value = "Madera"/>
                    <xs:enumeration value = "Madera"/>
                    <xs:enumeration value = "Madera blanda"/>
                  </xs:restriction>
                </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>