Práctica 2/XSD/mueblesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="muebles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mueble" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="id" use="required" />
                                <xs:attribute type="xs:string" name="nombre" use="required" />
                                <xs:attribute type="xs:byte" name="stack" fixed="1" use="required" />
                                <xs:attribute type="xs:byte" name="precio" use="required" />
                                <xs:attribute name="tipo" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Sillas y sofas" />
                                            <xs:enumeration value="Cama" />
                                            <xs:enumeration value="Lampara" />
                                            <xs:enumeration value="Almacenamiento" />
                                            <xs:enumeration value="Reloj" />
                                            <xs:enumeration value="Television" />
                                            <xs:enumeration value="Mesa" />
                                            <xs:enumeration value="Decoracion" />
                                            <xs:enumeration value="Reproductor de musica" />
                                            <xs:enumeration value="Mueble de pared" />
                                            <xs:enumeration value="Coleccionable" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="conjunto" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="" />
                                            <xs:enumeration value="Congelado" />
                                            <xs:enumeration value="Dorado" />
                                            <xs:enumeration value="Setas" />
                                            <xs:enumeration value="Flor de cerezo" />
                                            <xs:enumeration value="Bambu" />
                                            <xs:enumeration value="Mimbre" />
                                            <xs:enumeration value="Restaurante" />
                                            <xs:enumeration value="Imperial" />
                                            <xs:enumeration value="Flores" />
                                            <xs:enumeration value="Linda" />
                                            <xs:enumeration value="Mariana" />
                                            <xs:enumeration value="Veraniego" />
                                            <xs:enumeration value="Frutas" />
                                            <xs:enumeration value="Zodiaco" />
                                            <xs:enumeration value="Universitario" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>