Práctica 2/XSD/personajesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="personajes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="personaje">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use = "required"/>
                <xs:attribute type="xs:string" name="nombre" use = "required"/>
                <xs:attribute type="xs:string" name="edificio"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>