Práctica 2/XSD/personajesL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="personajes">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="personaje" maxOccurs="50" minOccurs="3">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="id" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:ID">
                      <xs:pattern value = "pj[0-9][0-9]"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              <xs:attribute type="xs:string" name="nombre" use="required"/>
              <xs:attribute type="xs:string" name="edificio" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
