Práctica 2/XSD/vecinosL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vecinos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vecino" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="required" />
                <xs:attribute name="personalidad" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="Alegre" />
                      <xs:enumeration value="Atletico" />
                      <xs:enumeration value="Esnob" />
                      <xs:enumeration value="Ducle" />
                      <xs:enumeration value="Grunion" />
                      <xs:enumeration value="Presumido" />
                      <xs:enumeration value="Perezoso" />
                      <xs:enumeration value="Normal" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:string" name="nombre" use="required" />
                <xs:attribute type="xs:string" name="casa" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>